.add-word header {
    /* temporary only */
    padding: 18px 10px;
}

.add-word form {
    background-color: var(--bgLightColor);
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-word form input,
.add-word form textarea {
    width: 95% !important;
    height: 40px;
    padding: 8px;
    margin: 10px;
    font-size: 15px;
}

.add-word textarea {
    min-height: 100px !important;
}