header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 10px;
}

h1,
h2 {
    font-size: 20px;
    margin: 0;
}

.main-header {
    background-color: yellowgreen;
}

.header-menu {
    position: relative;
}

.header-menu-list {
    display: none;
    
    color: var(--textColor);
    background-color: var(--bgLightColor);
    border: 2px solid var(--textColor);
    border-radius: 5px;
    padding: 5px;
    
    animation: 0.5s fade;
}
@keyframes fade {
    from{
        opacity: 0.2;
        right: 0;
        top:20px;
    }
    to{
        opacity: 1;
        right: 20px;
        top:35px;
    }
}

.header-menu-list a,
.header-menu-list span {
    padding: 10px;

    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.header-menu-list a:active,
.header-menu-list span:active {
    background-color: rgb(100, 170, 236);
}

.header-menu:hover .header-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 35px;
    right: 20px;
    z-index: 2;
}

@media (min-width:600px) {

    .header-menu-list a:hover,
    .header-menu-list span:hover {
        background-color: var(--minBlue);
    }
}