:root{
    --bgColor: white;
    --textColor: black;
    --invertStrength: 0;
    --bgLightColor: gainsboro;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
    background-color: var(--bgColor);
    color: var(--textColor);
}



.socket-error {
    display: grid;
    place-items: center;

    color: red;
    background-color: ghostwhite;
    padding: 5px;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

img {
    width: 30px;
    height: 30px;
}

.img-invert {
    filter: invert(var(--invertStrength));
}