table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    word-wrap: break-word;
}

th,
td {
    border: 1px solid var(--bgLightColor);
    text-align: left;
    padding: 8px;
    word-break: break-word;
}

tbody tr:hover{
    background-color: var(--minBlue);
}

tr:nth-child(even) {
    background-color: var(--bgLightColor);
}