.word-desc{
    padding: 10px;
}
.word-desc p{
    word-break: break-word;
}
.word-desc button{
    color: red;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}
.button-div{
    display: grid;
    place-items: center;
}