.word-desc {
    padding: 10px;
}
.word-desc .word-speak{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.word-desc span.Word {
    font-size: 20px;
    font-weight: bold;

    margin: 20px 0;
    margin-right: 10px;
}
.word-speak img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.word-desc button {
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.button-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin: 35px;
}

.bg-green {
    background-color: lightgreen;
}

.img-scale-dw {
    transform: scale(0.8);
}